
.class-10-gifs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-10-gif1 {
    width: 30%;
}

.class-10-lead-in-menu {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.class-10-vocabulary-presentation-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content:space-between
}

.class-10-vocabulary-presentation-img-currencies {
    width: 40%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.class-10-vocabulary-practice-menu {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

@media (max-width: 600px) {
    .class-10-vocabulary-presentation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class-10-vocabulary-presentation-img-currencies {
    width: 80%;
}

.class-10-vocabulary-practice-menu {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

}