

/* UNIT 1 */


.unit-1-affirmtive-grid {
    display: grid;
    grid-template-columns: 55px 55px 55px;
    
}

.unit-1-negative-grid {
    display: grid;
    grid-template-columns: 55px 100px 280px; 
}

/* UNIT 37 */

.container-imgs {
    width: 700px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.imgs {
    width: 33%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 3px;
}

.example {
    color: red;
}

.btn-exercise {
    font-family: var(--grammar-font);
    font-size: var(--paragraph-font-size);
    padding: 0 5px;
    border-radius: 3px;
}