/* RADIO CORRECT*/

label {
  font-family: var(--font);
  font-size: var(--paragraph-font-size);
}

input[type="radio"] {
}


.radio-correct[type="radio"] {
  appearance: none;
  /* border: 1px solid #d3d3d3; */
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.radio-correct[type="radio"]:checked {
  appearance: none;
  border-radius: 100%;
  outline: none;
  content: none;
  border: none;
}

.radio-correct[type="radio"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border: 1px solid black;
  border-radius: 100%;
  color: white !important;
  content: "";
  background-image: url(../assets/imgs/radio-correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

/* RADIO INCORRECT*/

.radio-incorrect[type="radio"] {
  appearance: none;
  /* border: 1px solid #d3d3d3; */
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.radio-incorrect[type="radio"]:checked {
  appearance: none;
  border-radius: 100%;
  outline: none;
  content: none;
  border: none;
}

.radio-incorrect[type="radio"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border: 1px solid black;
  border-radius: 100%;
  color: white !important;
  content: "";
  background-image: url(../assets/imgs/radio-incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

/* CHECKBOX STYLE*/

.checkbox[type="checkbox"] {
  appearance: none;
  /* border: 1px solid #d3d3d3; */
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 20%;
  margin: 0;
}

.checkbox[type="checkbox"]:checked {
  appearance: none;
  border-radius: 20%;
  outline: none;
  content: none;
  border: none;
}

.checkbox[type="checkbox"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border: 1px solid black;
  border-radius: 20%;
  color: white !important;
  content: "";
  background-image: url(../assets/imgs/checkbox.svg);
  background-size: contain;
  width: 22px;
  height: 22px;
}


/* --- */

.checkbox-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  background-size: cover;
  background-image: url(../assets/imgs/correct.svg);
  filter: var(--icon-correct)
}

.invisible {
  display: none;
}

#resultCheckboxes {
  margin-top: 10px;
}

/* DROPDOWN MENU */

select {
  padding-top: 10px;
}

select option {
  font-family: var(--font);
  font-size: var(--paragraph-font-size)
}

.dropdown-icon {
  width: 22px;
  height: 22px;
  background-size: cover;
  display: inline-block;
  margin-left: 5px;
  display: none;
}

.drop.correct {
  background-image: url(../assets/imgs/correct.svg);
  filter: var(--icon-correct);
}

.drop.incorrect {
  background-image: url(../assets/imgs/incorrect.svg);
  filter: var(--icon-incorrect);
}

#result {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS */

input[type="text"] {
  margin-top: .2rem;
  padding: 0 .2rem;
  width: 150px;
  font-family: var(--font);
  font-size: var(--paragraph-font-size)
}

.fill-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFill {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS TEXT */

.fill-text-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill-text-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill-text-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFilltext {
  margin-top: 10px;
}

/* BUTTON */

button {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  padding: 2px 10px;
  background-color: orange;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px;
  box-shadow: 0 0 3px;
}