/* GENERAL */

label {
  font-family: var(--font);
  font-size: var(--p-size);
}

input[type="text"] {
  margin-top: .2rem;
  padding: 0 .2rem;
  font-family: var(--font);
  font-size: var(--p-size);
  width: 90%;
}

/* RADIO BUTTONS */

/* RADIO CORRECT*/

input[type="radio"] {
  font-family: var(--font);
  font-size: var(--p-size);
}

.radio-correct[type="radio"] {
  appearance: none;
  /* border: 1px solid #d3d3d3; */
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.radio-correct[type="radio"]:checked {
  appearance: none;
  border-radius: 100%;
  outline: none;
  content: none;
  border: none;
}

.radio-correct[type="radio"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border: 1px solid black;
  border-radius: 100%;
  color: white !important;
  content: "";
  background-image: url(../assets/imgs/radio-correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

/* RADIO INCORRECT*/

.radio-incorrect[type="radio"] {
  appearance: none;
  /* border: 1px solid #d3d3d3; */
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.radio-incorrect[type="radio"]:checked {
  appearance: none;
  border-radius: 100%;
  outline: none;
  content: none;
  border: none;
}

.radio-incorrect[type="radio"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border: 1px solid black;
  border-radius: 100%;
  color: white !important;
  content: "";
  background-image: url(../assets/imgs/radio-incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

/* CHECKBOX STYLE*/

.checkbox[type="checkbox"] {
  appearance: none;
  /* border: 1px solid #d3d3d3; */
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 20%;
  margin: 0;
}

.checkbox[type="checkbox"]:checked {
  appearance: none;
  border-radius: 20%;
  outline: none;
  content: none;
  border: none;
}

.checkbox[type="checkbox"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border: 1px solid black;
  border-radius: 20%;
  color: white !important;
  content: "";
  background-image: url(../assets/imgs/checkbox.svg);
  background-size: contain;
  width: 22px;
  height: 22px;
}


/* --- */

.checkbox-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  background-size: cover;
  background-image: url(../assets/imgs/correct.svg);
  filter: var(--icon-correct)
}

.invisible {
  display: none;
}

#resultCheckboxes {
  margin-top: 10px;
}

/* DROPDOWN MENU */

select {
  padding-top: 10px;
}

select option {
  font-family: var(--font);
  font-size: var(--p-size)
}

.dropdown-icon {
  width: 22px;
  height: 22px;
  background-size: cover;
  display: inline-block;
  margin-left: 5px;
  display: none;
}

.drop.correct {
  background-image: url(../assets/imgs/correct.svg);
  filter: var(--icon-correct);
}

.drop.incorrect {
  background-image: url(../assets/imgs/incorrect.svg);
  filter: var(--icon-incorrect);
}

#result-dropdown {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS 1 */


.fill-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFill1 {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS 2 */

.fill2-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill2-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill2-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFill2 {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS TEXT */

.fill-text-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill-text-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill-text-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../assets/imgs/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFilltext {
  margin-top: 10px;
}

/* BUTTON */

.pushable {
  background: rgb(83, 83, 83);
  border-radius: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: var(--font);
  font-size: 1rem;
  background: grey;
  color: white;
  transform: translateY(-5px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

@media (max-width: 600px) {

  input[type="text"] {
    width: 90%;
  }

}