.class-2-1a-eating-in-and-out-sea-food {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.class-3-flipped-classroom-1b-modern-family-practice-b-label {
    display: inline-block;
    width: 160px;
}

.class-3-1b-modern-family-grammar-lead-in-container-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 10px;
    justify-content: center;
}

.class-3-1b-modern-family-grammar-lead-in-size-imgs {
    width: 100%;
    border: 2px solid black;
    border-radius: 4px;
}

.class-5-2a-spending-money-vocabulary-lead-in {
    display: grid;
    grid-template-columns: 500px 210px;
    /* grid-template-columns: auto auto; */
    gap: 10px;
}