/* Class 14 */

.class-14-9-2-looking-for-inpiration-grammar-lead-in {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 4px;
}