@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  max-width: 700px;
  margin: 0 auto;
  background-image: linear-gradient(
    /* 10deg, */
    rgb(255, 255, 255),
    rgba(214, 203, 203, 0.233),
    rgb(251, 255, 253),
    rgba(212, 202, 202, 0.459),
    rgb(255, 255, 255)
  );
  /* height: 100vh; */
}

.login-content {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  align-items: center;
  border: 1px;
  border-radius: 5px;
}

.logo-index {
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 21.1px;
}

.logo-flag {
  width: 300px;
  margin-bottom: 50px;
}

.how-you-doing {
  width: 120px;
  margin: 0 37px 0 0px;
}

.me-computer {
  width: 250px;
  margin-bottom: 20px;
}

#btn-login {
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Bangers", cursive;
  font-size: 20px;
  color: white;
  background-color: #CE2028;
}

#btn-login a {
  color: white;
  text-decoration: none;
}
