/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

/* CSS */

@import url(login-page.css);
@import url(beginner.css);
@import url(intermediate.css);

/* ROOT */

:root {
    --font: 'Walter Turncoat', cursive;
    --title-font-size: 2.3rem;
    --subtitle-font-size: 1.8rem;
    --paragraph-font-size: 1.3rem;
    --font-size-smaller: 0.8rem;
}

/* MAIN PAGE */

.header-content {
    background-color: #062745;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.btn-menu {
    width: 40px;
    filter: invert(1);
}

.btn-menu:hover {
    cursor: pointer;
}

.logo-main {
    font-family: 'Lato', sans-serif; 
    font-size: 1rem;
    color: white;
}

.logo-img {
    width: 35px;
}

nav {
    padding: 10px;
    background-color: #062745;
    color: white;
    font-family: var(--font);
    font-size: var(--nav-font-size);
    display: none;
}

.icon-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icon {
    filter: invert(1);
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

main {
    padding: 10px;
}

.feeling-today {
    text-align: center;
    font-size: 30px;
}

/* GIFS */

.main-container-gifs {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: space-around;
}

.main-container-gifs-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-gifs {
    width: 50%;
    filter: drop-shadow(0 0 1px black);
    padding-top: 30px;
}

.main-gif-embarassed {
    font-size: 1rem;
}

.main-gif-disappoited {
    font-size: 1rem;
}

/* GENERAL */

/* ICONS */

.icon-size {
    width: 2rem;
}

.icon-container-classes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-correct-incorrect-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#icon-correct-incorrect {
    width: 22px;
    height: 22px;
}

/*FONT AND TEXT */

h1 {
    font-family: var(--font);
    font-size: var(--title-font-size);
}

h2 {
    font-family: var(--font);
    font-size: var(--subtitle-font-size);
}

p {
    font-family: var(--font);
    font-size: var(--paragraph-font-size);
}

.p {
    font-family: var(--font);
    font-size: var(--paragraph-font-size);
}

.justify {
    text-align: justify;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.smaller {
    font-size: var(--font-size-smaller)
}

.phonetics {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    color: #00a2ff
}

/* CONTAINERS */

.container-title {
    border: 5px solid white;
    border-radius: 4px;
    background-color: black;
    padding: 10px;
    box-shadow: 0 0 3px;
}

.container-white-content {
    border: 1px solid black;
    border-radius: 0 0 4px 4px;;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
}

.container-white {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
}

/* RIBBONS */

.ribbon-black-content {
    background: black;
    border: 1px solid black;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-black {
    background: black;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-lightgray {
    background: lightgray;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-deepyellow {
    background: #F6BE00;
    border: 1px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-green {
    background: rgba(0, 128, 0, 0.63);
    border: 1px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-white {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-red {
    background: red;
    border: 1px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-red-content {
    background: red;
    border: 1px solid black;
    border-bottom: 0;
    color: black;
    padding-left: 10px;
    border-radius: 4px 4px 0 0;;
    box-shadow: 0 0 3px;
}

/* COLORS */

.color-white {
    color: white ;
}

.color-lightgray {
    color: gray;
}

.color-red {
    color:red;
}

.color-green {
    color: green
}

.color-lightblue {
    color: #00a2ff;
}

/* ALIGNNMENT */

.align-items-center {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* IMAGES */

.img-1 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.img-container {
    display: flex;
    justify-content: space-between;
}

.img-2 {
    width: 49%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.img-3 {
    width: 33%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.flag {
    width: 25px;
}

/* COURSES */

.class-description {
    line-height: 1.2;
    /* border: solid 1px #3333332f; 
    padding: 10px;
    border-radius: 5px; */
}

/* TABLE */

table, td {
    border: 1px solid black;
}

/* EXERCISES */

/* RADIO CORRECT*/

.radio-correct[type="radio"] {
   appearance: none;
   border: 1px solid #d3d3d3;
   width: 22px;
   height: 22px;
   content: none;
   outline: none;
   border-radius:100%;
   margin: 0;
}

.radio-correct[type="radio"]:checked {
  appearance: none;
  border-radius:100%;
  outline: none;
  content: none;
  border: none;
}

.radio-correct[type="radio"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border-radius:100%;
  color: white !important;
  content: "";
  background-image: url(../assets/imgs/radio-correct.png);
  background-size: contain;
  width: 22px;
  height: 22px;
}

/* RADIO INCORRECT*/

.radio-incorrect[type="radio"] {
   appearance: none;
   border: 1px solid #d3d3d3;
   width: 22px;
   height: 22px;
   content: none;
   outline: none;
   border-radius:100%;
   margin: 0;
}

.radio-incorrect[type="radio"]:checked {
  appearance: none;
  border-radius:100%;
  outline: none;
  content: none;
  border: none;
}

.radio-incorrect[type="radio"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border-radius:100%;
  color: white !important;
  content: "";
  background-image: url(../assets/imgs/radio-incorrect.png);
  background-size: contain;
  width: 22px;
  height: 22px;
}

/* CHECKBOX CORRECT */

.checkbox-correct[type="checkbox"] {
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 22px;
    height: 22px;
    content: none;
    outline: none;
    border-radius:20%;
    margin: 0;
}

.checkbox-correct[type="checkbox"]:checked {
    appearance: none;
    border-radius: 20%;
    outline: none;
    content: none;
    border: none;
}

.checkbox-correct[type="checkbox"]:checked::before {
    position: absolute;
    /* background: #d3d3d3; */
    border-radius: 20%;
    color: white !important;
    content: "";
    background-image: url(../assets/imgs/checkbox-correct.png);
    background-size: contain;
    width: 22px;
    height: 22px;
}

/* CHECKBOX INCORRECT */

.checkbox-incorrect[type="checkbox"] {
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 22px;
    height: 22px;
    content: none;
    outline: none;
    border-radius:20%;
    margin: 0;
}

.checkbox-incorrect[type="checkbox"]:checked {
    appearance: none;
    border-radius: 20%;
    outline: none;
    content: none;
    border: none;
}

.checkbox-incorrect[type="checkbox"]:checked::before {
    position: absolute;
    /* background: #d3d3d3; */
    border-radius: 20%;
    color: white !important;
    content: "";
    background-image: url(../assets/imgs/checkbox-incorrect.png);
    background-size: contain;
    width: 22px;
    height: 22px;
}

/* DROPDOWN MENU */

/* FILL IN THE BLANKS */

button {
    font-family: var(--font);
    font-size: var(--font-size-smaller);
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: lightgray;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 3px;
}

#result {
    margin-top: 10px;
}

@media (max-width: 600px) {

    .icon-container-classes {
        display: flex;
        align-items: start;
        gap: 10px;
    }

    .img-2-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
    }

    .img-2 {
        width: 90%;
    }

    .video-iframe-mobile {
        width: 100%;
        height: 200px;
    }

}
