/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

/* CSS */

@import url(login-page.css);
@import url(beginner.css);
@import url(intermediate.css);
@import url(exercises.css);

/* ROOT */

:root {
    --font: 'Walter Turncoat', cursive;
    --h1-size: 2.3rem;
    --h2-size: 1.8rem;
    --h3-size: 1.5rem;
    --p-size: 1.3rem;
    --font-size-small: 0.8rem;
    --icon-correct: invert(35%) sepia(15%) saturate(2476%) hue-rotate(86deg) brightness(110%) contrast(119%);
    --icon-incorrect: invert(20%) sepia(50%) saturate(10000%) hue-rotate(0deg) brightness(100%) contrast(119%);
}


body {
    font-family: var(--font);
}

/* MAIN PAGE */

.header-content {
    background-color: #062745;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.btn-menu {
    width: 40px;
    filter: invert(1);
}

.btn-menu:hover {
    cursor: pointer;
}

.logo-main {
    font-family: 'Lato', sans-serif; 
    font-size: 1rem;
    color: white;
}

.logo-img {
    width: 35px;
}

nav {
    padding: 10px;
    background-color: #062745;
    color: white;
    font-family: var(--font);
    font-size: var(--nav-font-size);
    display: none;
}

.icon-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icon {
    filter: invert(1);
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

main {
    padding: 10px;
}

.feeling-today {
    text-align: center;
    font-size: 30px;
}

/* GIFS */

.main-container-gifs {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: space-around;
}

.main-container-gifs-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-gifs {
    width: 50%;
    filter: drop-shadow(0 0 1px black);
    padding-top: 30px;
}

.main-gif-embarassed {
    font-size: 1rem;
}

.main-gif-disappoited {
    font-size: 1rem;
}

/* GENERAL */

/* ICONS */

.icon-size {
    width: 2rem;
}

.icon-container-classes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-correct-incorrect-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#icon-correct-incorrect {
    width: 22px;
    height: 22px;
}


.icon-general {
    width: 1.5rem;
    position: relative;
    top: 2px;
}

.icon-celta-alignment {
    display: flex;
    align-items: end;
}

.icon-celta {
    width: 50px;
    height: 50px;
    filter: drop-shadow(1px 1px);
    margin-right: 15px;
}

.icon-celta-warmup {
    width: 30px;
    height: 50px;
    filter: drop-shadow(1px 1px);
    margin-right: 15px;
}

.icon-celta-presentation {
    width: 45px;
    height: 38px;
    filter: drop-shadow(1px 1px);
    margin-right: 15px;
}

.icon-celta-practice {
    width: 55px;
    height: 40px;
    filter: drop-shadow(1px 1px);
    margin-right: 15px;
}

.icon-celta-production {
    width: 50px;
    height: 43px;
    filter: drop-shadow(1px 1px);
    margin-right: 15px;
}


/*FONT AND TEXT */

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

p {
    font-size: var(--p-size);
    font-size: var(--p-size);
}

.p {
    font-family: var(--font);
    font-size: var(--p-size);
}

.justify {
    text-align: justify;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.smaller {
    font-size: var(--font-size-smaller)
}

.phonetics {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    color: #00a2ff
}

/* CONTAINERS */

.container-title {
    border: 5px solid white;
    border-radius: 4px;
    background-color: black;
    padding: 10px;
    box-shadow: 0 0 3px;
}

.container-white-content {
    border: 1px solid black;
    border-radius: 0 0 4px 4px;;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
}

.container-white {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
}

/* RIBBONS */

.ribbon-black-content {
    background: black;
    border: 1px solid black;
    border-radius: 4px 4px 0 0;
    padding: 6px 4px 6px 3.3px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-black {
    background: black;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-lightgrey {
    background: lightgrey;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-deepyellow {
    background: #F6BE00;
    border: 1px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-green {
    background: rgba(0, 128, 0, 0.63);
    border: 1px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-white {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-red {
    background: red;
    border: 1px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-red-content {
    background: red;
    border: 1px solid black;
    border-bottom: 0;
    color: black;
    padding: 6px 4px 6px 5px;
    border-radius: 4px 4px 0 0;;
    box-shadow: 0 0 3px;
}

.ribbon-blue {
    background: rgb(64, 64, 255);
    border: 1px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

.ribbon-intermediate-grammar {
    background: #0077C1;
    border: 1px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
    font-weight: bold;
}

/* COLORS */

.color-white {
    color: white ;
}

.color-lightgrey {
    color: gray;
}

.color-red {
    color:red;
}

.color-green {
    color: green
}

.color-lightblue {
    color: #00a2ff;
}

.color-blue {
    color: rgba(0, 0, 255, 0.678);
}

/* ALIGNNMENT */

.align-items-center-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 2px;
    margin-right: 12px;
    line-height: 1;
}

.align-items-center-2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2px;
    margin-right: 12px;
}

/* IMAGES */

.container-img {
    display: flex;
    justify-content: space-around;
}

.img-1-100 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.img-2 {
    width: 49%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}


.img-3 {
    width: 33%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

/* COURSES */

.class-description {
    line-height: 1.2;
    /* border: solid 1px #3333332f; 
    padding: 10px;
    border-radius: 5px; */
}

/* ARROW */

.arrow-bold {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}

/* BUTTON */

.pushable {
    background: rgb(83, 83, 83);
    border-radius: 5px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font);
    font-size: 1rem;
    background: grey;
    color: white;
    transform: translateY(-5px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

/* ANIMATION */

.pulse-review {
    animation: pulse 3s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 600px) {

    .icon-container-classes {
        display: flex;
        align-items: start;
        gap: 10px;
    }

    .img-2-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
    }

    .video-iframe-mobile {
        width: 100%;
        height: 200px;
    }

}
