@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: 'Kanit', sans-serif;
    --secondary-font: 'Walter Turncoat', cursive;
    --topic-font-size: 2rem;
    --subtopic-font-size: 1.5rem;
    --paragraph-font-size: 1rem;
}

.logo {
    background-color: #000;
    color: white;
    font-family: var(--primary-font);
    font-size:30px;
    padding-left: 10px;
}

/* .icon {
    width: 15px;
} */

.nav-menu {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #000;
    color: white;
}

.nav-menu-link {
    font-family: var(--primary-font);
    list-style: none;
}

.nav-menu-link a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.me-computer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.welcome {
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--secondary-font);
    font-size: var(--topic-font-size);
    padding: 0 0 0 10px;
}

h2 {
    font-family: var(--secondary-font);
    font-size: var(--subtopic-font-size);
    padding: 0 0 0 10px;
}

p {
    font-family: var(--secondary-font);
    font-size: var(--secondary-font-size);
    padding-left: 10px
}