.a-negative-flex {
    display: flex;
    width: 320px;
    gap: 20px;
}

.incorrect {
    width: 20px;
    position: relative;
    top: 3px;
}

.exercise-6-2 {
    width: 50%;
}

@media (max-width: 600px) {
    .exercise-6-2 {
            width: 100%;
        }
}