.grid-lisa {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.lisa {
    padding: 20px
}

.unit-1-a-affirmative-grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 292px;
}

.unit-1-a-negative-grid {
    max-width: 421px;
}

/* .unit-1-exercise-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr
} */

@media (max-width: 600px) {

    .grid-lisa {
        display: grid;
        grid-template-columns: 1fr;
    }

    .lisa {
        max-width: 30%;
    }

    .unit-1-a-negative-grid {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 348px;
    }

    .unit-1-a-negative-smaller-font-1 {
        font-size: 1.1rem;
    }

    .unit-1-a-negative-smaller-font-2 {
        font-size: 1.2rem;
    }

    .unit-1-a-negative-smaller-font-3 {
        font-size: 1.1rem;
    }

    .unit-1-a-negative-smaller-font-4 {
        font-size: 1rem;
    }
}