.unit-4-a-affirmative-question-grid {
    max-width: 287px;
    display: grid;
    grid-template-columns: 106px 97px 93px;
    align-items: center;
    gap: 1px;
}

.unit-4-b-word-order {
    max-width: 266px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 78px 52px 64px 119px;
}

.unit-4-b-smaller {
    font-size: 0.95rem;
}

@media (max-width: 600px) {

    .unit-4-b-word-order {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 80px 50px 63px 121px;
        width: 264px;
    }

    .unit-4-b-smaller {
        font-size: 0.95rem;
    }
}