.unit-4-a-affirmative-question-grid {
    width: 354px;
    display: grid;
    grid-template-columns: 90px 97px 93px;
    align-items: center;
    gap: 33px;
}

.unit-4-b-word-order {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 160px 70px 140px 150px;
    width: 520px;
}

@media (max-width: 600px) {

    .unit-4-b-word-order {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 80px 50px 63px 200px;
        width: 342px;
    }

    .unit-4-b-smaller {
        font-size: 0.95rem;
    }
}