.vocabulary-leadin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.vocabulary-bitmoji {
    display: flex;
    justify-content: center;
}

.vocabulary-bitmoji-imgs {
    width: 30%;
    filter: drop-shadow(1px 1px 1px);
}

@media (max-width: 600px) {

    .vocabulary-leadin-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .vocabulary-bitmoji-imgs {
        width: 40%;
    }
}