.grammar-bitmoji-container {
    display: flex;
    justify-content: center;
}

.grammar-bitmoji-imgs {
    width: 30%;
    filter: drop-shadow(1px 1px 1px);
}

.grammar-leadin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.grammar-presentation-form-container {
    display: flex;
    gap: 10px;
}

.grammar-practice-hcwp-radio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grammar-practice-container {
    display: grid;
    grid-template-columns: 400px 300px;
    gap: 20px;
}

.grammar-practice-numbers-hcop {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 25px;
    height: 25px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: 30px;
    left: 5px;
}

.grammar-production-conversation-gif {
    width: 200px;
    filter: drop-shadow(1px 1px 1px);

}

.vocabulary-pronunciation-flex-container {
    display: grid;
    grid-template-columns: 150px 450px;
}

.cups-flex-wrap {
    display: flex;
    flex-wrap: wrap;
} 

.icon-coffee {
    width: 40px;
}

.vocabulary-introduction {
    width: 80%;
}


@media (max-width: 600px) {

    .grammar-leadin-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .grammar-leadin-flex-select {
        display: flex;
        flex-direction: column;
    }

    .grammar-bitmoji-imgs {
        width: 40%;
    }

    .grammar-practice-hcwp-radio {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .grammar-practice-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .grammar-presentation-form-container {
        display: flex;
        flex-direction: column;
    }

    .vocabulary-pronunciation-flex-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .vocabulary-introduction {
        display: grid;
        grid-template-columns: 1fr;
        
    }

}