.grammar-bitmoji-container {
    display: flex;
    justify-content: center;
}

.grammar-leadin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.grammar-bitmoji-imgs {
    width: 30%;
    filter: drop-shadow(1px 1px 1px);
}

.grammar-presentation-form-container {
    display: flex;
    gap: 10px;
}

.grammar-practice-container {
    display: grid;
    grid-template-columns: 400px 300px;
    gap: 20px;
}

.grammar-practice-numbers-hcop {
    font: 1em s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 25px;
    height: 25px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: 37px;
    left: 12px;
}

.grammar-production-conversation-gif {
  width: 200px;
  fill: ;  
}


@media (max-width: 600px) {

    .vocabulary-leadin-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .vocabulary-leadin-flex-select {
        display: flex;
        flex-direction: column;
    }

    .vocabulary-bitmoji-imgs {
        width: 40%;
    }

    .grammar-practice-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .presentation-form-container {
        display: flex;
        flex-direction: column;
    }

}