/* HANGMAN BUTTON */

.pushable-hm {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow-hm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge-hm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: linear-gradient(to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%);
}

.front-hm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  /* display: block; */
  position: relative;
  margin-bottom: 1px;
  padding: 7px 10px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-3px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable-hm:hover {
  filter: brightness(110%);
}

.pushable-hm:hover .front-hm {
  transform: translateY(-3px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable-hm:active .front-hm {
  transform: translateY(0);
  transition: transform 34ms;
}

.pushable-hm:hover .shadow-hm {
  transform: translateY(2px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable-hm:active .shadow-hm {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable1:focus:not(:focus-visible) {
  outline: none;
}

/* HANGMAN */

.grid-3-columns-word-guess {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.grid-3-columns-word-guess div:nth-child(2) {
  padding-top: 8.5px;
}

.grid-3-columns-word-guess div:nth-child(3) {
  padding-bottom: 5px;
}

.flex-hm-letters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* FLIP CARDS */

.flip-card-container {
  width: 310px;
  height: 200px;
  perspective: 1000px;
}

.flip-card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: var(--img-border);
  border-radius: 4px;
  box-shadow: 0 0 3px;
  background-image: url(../../assets/img/container-title-background.png);
  background-size: cover;
  background-clip: content-box;
}

.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: var(--img-border);
  border-radius: 4px;
  box-shadow: 0 0 3px;
  background-image: url(../../assets/img/container-title-background.png);
  background-size: cover;
  background-clip: content-box;
  transform: rotateY(180deg);
}

.grid-2-rows-flip-card {
  display: grid;
  grid-template-rows: 50px 105px;
  gap: 20px;
}

.grid-3-rows-flip-card {
  display: grid;
  grid-template-rows: 10px 90px 55px;
  gap: 10px;
  justify-items: center;
}

.grid-3-rows-flip-card-icon-item {
  justify-self: start;
}

.flip-card1-icon {
  position: relative;
  bottom: 72px;
  right: 132px;
}

.flip-card2-card3-icon {
  margin-left: 5px;
}

.flip-card1-bg-img {
  background-image: url(https://media.wired.co.uk/photos/60c8730fa81eb7f50b44037e/16:9/w_3332,h_1874,c_limit/1521-WIRED-Cat.jpeg);
}

.flipped {
  transform: rotateY(180deg);
}

/* SHUFFLE CARDS */

.grid-2-columns-shuffle-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 20px;
  background-image: url(../img/shuffle-card-table.jpg);
  background-size: cover;
  margin: auto;
  width: 75%;
  padding: 10px;

  border-radius: 4px;
  box-shadow: 0 0 3px;
}

/* .grid-2-columns-shuffle-cards div:nth-child(2) {
  display: flex;
  align-items: center;
} */

.shuffle-cards-container {
  /* width: 100%; */
  height: 285px;
  position: relative;
  /* border: 2px solid; */
}

.shuffle-card-face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 160px;
  height: 230px;
  
}

.shuffle-card-question-mark {
  width: 80px;
}

.card-perspective {
  perspective: 1000px;
}

.shuffle-card-front {
  border: var(--img-border);
  border-radius: 4px;
  box-shadow: 0 0 3px;
  background-image: url(../../assets/img/container-title-background.png);
  transform: rotateY(180deg);
}

.shuffle-card-back {
  padding: 5px;
  border: var(--img-border);
  border-radius: 4px;
  box-shadow: 0 0 3px;
  background-image: url(../../assets/img/container-title-background.png);
  backface-visibility: hidden;
}

/* SHUFFLE CARDS # */

.shuffle-card1 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 5px;
  left: 52%;
  z-index: 10;
}

.shuffle-card-flipped1 {
  transform: rotateY(-180deg) translateX(15px);
}

.shuffle-card2 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 10px;
  left: 52%;
  z-index: 9;
}

.shuffle-card-flipped2 {
  transform: rotateY(-180deg) translateX(15px);
}

.shuffle-card3 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 15px;
  left: 52%;
  z-index: 8;
}

.shuffle-card-flipped3 {
  transform: rotateY(-180deg) translateX(15px);
}

.shuffle-card4 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 20px;
  left: 52%;
  z-index: 7;
}

.shuffle-card-flipped4 {
  transform: rotateY(-180deg) translateX(15px);
}

.shuffle-card5 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 25px;
  left: 52%;
  z-index: 6;
}

.shuffle-card-flipped5 {
  transform: rotateY(-180deg) translateX(15px);
}

.shuffle-card6 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 30px;
  left: 52%;
  z-index: 5;
}

.shuffle-card-flipped6 {
  transform: rotateY(-180deg) translateX(15px);
}

.shuffle-card7 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 35px;
  left: 52%;
  z-index: 4;
}

.shuffle-card-flipped7 {
  transform: rotateY(-180deg) translateX(15px);
}

.shuffle-card8 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 40px;
  left: 52%;
  z-index: 3;
}

.shuffle-card-flipped8 {
  transform: rotateY(-180deg) translateX(15px);
}

.shuffle-card9 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 45px;
  left: 52%;
  z-index: 2;
}

.shuffle-card-flipped9 {
  transform: rotateY(-180deg) translateX(15px);
}

.shuffle-card10 {
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: absolute;
  top: 50px;
  left: 52%;
  z-index: 1;
}

.shuffle-card-flipped10 {
  transform: rotateY(-180deg) translateX(15px);
}

/* DRAG AND DROP */

.drag-card {
  width: 200px;
  height: 50px;
  background-color: #F7F198;
  border: var(--img-border);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-card {
  width: 100%;
  height: 200px;
  border: 1px solid;
  border-radius: 4px;
}

/* TOOLTIP 1 */

.tooltip1 {
  cursor: pointer;
}

.tooltip1-info {
  visibility: hidden;
}

.tooltip1:hover .tooltip1-info {
  visibility: visible;
}

/* TOOLTIP 2 */

.tooltip2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip2-info {
  display: none;
  position: fixed;
  bottom: 0;
  padding: 5px;
  line-height: 25px;
  background-color: #F7F198;
  border-radius: 4px;
  box-shadow: 0 0 3px;
  white-space: normal;
  overflow: auto;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 90%;
  height: auto;
  z-index: 1;
}

.tooltip2:hover .tooltip2-info {
  display: block;
}

/* COLLAPSE */

.section {
  margin: 0 0px 0 20px;
  cursor: pointer;
  position: relative;
}

.content {
  display: none;
  margin-top: 10px;
}

.expanded .triangle {
  transform: rotate(90deg);
}

/* TRIANGLE */
.triangle {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 15px solid rgb(0, 0, 0);
  transform: rotate(90deg);
  position: absolute;
  left: -18px;
  top: 15px;
  transform: translateY(-50%) rotate(90deg);
  transition: 0.3s transform;
}

.expanded .triangle {
  transform: translateY(-50%) rotate(180deg);
}


label {
  margin-top: .2rem;
  padding: 0 .2rem;
  font-family: var(--font);
  font-size: var(--p-size);
}

input[type="text"] {
  padding-left: .2rem;
  margin: .1rem 0 .1rem 0;
  font-family: var(--font);
  font-size: var(--p-size);
  width: 90%;
}

/* RADIO BUTTONS */

/* RADIO CORRECT*/

input[type="radio"] {
  font-family: var(--font);
  font-size: var(--p-size);
}

.radio-correct[type="radio"] {
  appearance: none;
  /* border: 1px solid #d3d3d3; */
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.radio-correct[type="radio"]:checked {
  appearance: none;
  border-radius: 100%;
  outline: none;
  content: none;
  border: none;
}

.radio-correct[type="radio"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border: 1px solid black;
  border-radius: 100%;
  color: white !important;
  content: "";
  background-image: url(../img/radio-correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

/* RADIO INCORRECT*/

.radio-incorrect[type="radio"] {
  appearance: none;
  /* border: 1px solid #d3d3d3; */
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.radio-incorrect[type="radio"]:checked {
  appearance: none;
  border-radius: 100%;
  outline: none;
  content: none;
  border: none;
}

.radio-incorrect[type="radio"]:checked::before {
  position: absolute;
  /* background: #d3d3d3; */
  border: 1px solid black;
  border-radius: 100%;
  color: white !important;
  content: "";
  background-image: url(../img/radio-incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

/* CHECKBOX 1*/

.checkbox1[type="checkbox"] {
  appearance: none;
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 20%;
  margin: 0;
}

.checkbox1[type="checkbox"]:checked {
  appearance: none;
  border-radius: 20%;
  outline: none;
  content: none;
  border: none;
}

.checkbox1[type="checkbox"]:checked::before {
  position: absolute;
  border: 1px solid black;
  border-radius: 20%;
  color: white !important;
  content: "";
  background-image: url(../img/checkbox.svg);
  background-size: contain;
  width: 22px;
  height: 22px;
}

/* --- */

.checkbox-correct-icon1 {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  background-size: cover;
  background-image: url(../img/correct.svg);
  filter: var(--icon-correct)
}

.checkbox-incorrect-icon1 {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  background-size: cover;
  background-image: url(../img/incorrect.svg);
  filter: var(--icon-incorrect)
}

.invisible1 {
  display: none;
}

#resultCheckboxes1 {
  margin-top: 10px;
}

/* CHECKBOX 2*/

.checkbox2[type="checkbox"] {
  appearance: none;
  border: 1px solid black;
  width: 22px;
  height: 22px;
  content: none;
  outline: none;
  border-radius: 20%;
  margin: 0;
}

.checkbox2[type="checkbox"]:checked {
  appearance: none;
  border-radius: 20%;
  outline: none;
  content: none;
  border: none;
}

.checkbox2[type="checkbox"]:checked::before {
  position: absolute;
  border: 1px solid black;
  border-radius: 20%;
  color: white !important;
  content: "";
  background-image: url(../img/checkbox.svg);
  background-size: contain;
  width: 22px;
  height: 22px;
}


/* --- */

.checkbox-correct-icon2 {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  background-size: cover;
  background-image: url(../img/correct.svg);
  filter: var(--icon-correct)
}

.checkbox-incorrect-icon2 {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  background-size: cover;
  background-image: url(../img/incorrect.svg);
  filter: var(--icon-incorrect)
}

.invisible2 {
  display: none;
}

#resultCheckboxes2 {
  margin-top: 10px;
}

/* DROPDOWN MENU */

select {
  padding-top: 10px;
}

select option {
  font-family: var(--font);
  font-size: var(--p-size)
}

.dropdown-icon {
  width: 22px;
  height: 22px;
  background-size: cover;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 5px;
  display: none;
}

.drop.correct {
  background-image: url(../img/correct.svg);
  filter: var(--icon-correct);
}

.drop.incorrect {
  background-image: url(../img/incorrect.svg);
  filter: var(--icon-incorrect);
}

#result-dropdown {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS 1 */

.fill1_answer {
  display: none;
}

.fill1-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill1-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../img/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill1-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../img/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFill1 {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS 2 */

.fill2_answer {
  display: none;
}

.fill2-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill2-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../img/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill2-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../img/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFill2 {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS 3 */

.fill3_answer {
  display: none;
}

.fill3-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill3-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../img/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill3-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../img/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFill3 {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS 4 */

.fill4_answer {
  display: none;
}

.fill4-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill4-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../img/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill4-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../img/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFill4 {
  margin-top: 10px;
}

/* FILL-IN-THE-BLANKS TEXT */

.fill-text {
  width: 150px !important;
}

.fill-text-icon {
  display: none;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.fill-text-icon.correct::before {
  display: inline-block;
  content: "";
  background-image: url(../img/correct.svg);
  background-size: contain;
  filter: var(--icon-correct);
  width: 22px;
  height: 22px;
}

.fill-text-icon.incorrect::before {
  display: inline-block;
  content: "";
  background-image: url(../img/incorrect.svg);
  background-size: contain;
  filter: var(--icon-incorrect);
  width: 22px;
  height: 22px;
}

#resultFilltext {
  margin-top: 10px;
}

.fill-text-answer {
  display: none;
}

.fills-height {
  line-height: 1.2;
}

.fills-margin {
  /* margin-bottom: 15px; */
}

.container-exercise-space {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {

  input[type="text"] {
    width: 80%;
  }

  .grid-3-columns-word-guess {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
    margin: 0px;
  }

  .grid-2-columns-shuffle-cards {
    grid-template-columns: 1fr;
    width: 100%;
  }

}