/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

/* CSS */

@import url(login-page.css);
@import url(beginner.css);
@import url(intermediate.css);
@import url(exercises.css);

/* ROOT */

:root {
    --font: 'Walter Turncoat', cursive;
    --h1-size: 2.3rem;
    --h2-size: 1.8rem;
    --h3-size: 1.5rem;
    --p-size: 1.3rem;
    --font-size-small: 0.8rem;
    --container-border: 7px solid rgb(201, 201, 201);
    --container-background-image: url('../imgs/container-title-background.png');
    --icon-correct: invert(35%) sepia(15%) saturate(2476%) hue-rotate(86deg) brightness(110%) contrast(119%);
    --icon-incorrect: invert(20%) sepia(50%) saturate(10000%) hue-rotate(0deg) brightness(100%) contrast(119%);
}

body {
    font-family: var(--font);
}

/* MAIN PAGE */

.header-content {
    background-color: #062745;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.btn-menu {
    width: 40px;
    filter: invert(1);
}

.btn-menu:hover {
    cursor: pointer;
}

.logo-main {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: white;
}

.logo-img {
    width: 35px;
}

nav {
    padding: 10px;
    background-color: #062745;
    color: white;
    font-family: var(--font);
    font-size: var(--nav-font-size);
    display: none;
}

.icon-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icon {
    filter: invert(1);
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

main {
    padding: 7px;
}

.feeling-today {
    text-align: center;
    font-size: 30px;
}

/* GIFS */

.main-container-gifs {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: space-around;
}

.main-container-gifs-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-gifs {
    width: 50%;
    filter: drop-shadow(0 0 1px black);
    padding-top: 30px;
}

.main-gif-embarassed {
    font-size: 1rem;
}

.main-gif-disappoited {
    font-size: 1rem;
}

/* GENERAL */

/* ICONS */

.icon-size {
    width: 2rem;
}

.icon-container-classes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-correct-incorrect-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#icon-correct-incorrect {
    width: 22px;
    height: 22px;
}

.icon-general {
    width: 1.6rem;
}

.icon-celta-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-celta-center {
    display: flex;
    align-items: center;
}

.icon-celta-warmup {
    width: 40px;
    height: 50px;
    margin: 0 15px 0 6px;
    filter: drop-shadow(.5px .5px .5px);
}

.icon-celta-introduction {
    width: 53px;
    height: 50px;
    margin: 0 16px 0 2px;
    filter: drop-shadow(.5px .5px .5px);
}

.icon-celta-presentation {
    width: 55px;
    height: 53px;
    filter: drop-shadow(.5px .5px .5px) grayscale();
    margin: 0 15px 0 6px;
    padding-top: 3px;
    position: relative;
    top: 1px;
}

.icon-celta-practice {
    width: 65px;
    height: 50px;
    margin: 0 15px 0 5px;
    filter: drop-shadow(.5px .5px .5px);
}

.icon-copy-practice {
    margin-bottom: 23.5px;
}

.icon-celta-production {
    width: 50px;
    height: 47px;
    margin: 0 15px 0 6px;
    filter: drop-shadow(.5px .5px .5px);
}

.icon-celta-wp-fillin {
    width: 63px;
    height: 35px;
    margin-right: 15px;
}

.icon-celta-wp-click {
    width: 30px;
    height: 45x;
    margin-right: 15px;
    position: relative;
    top: -2px;
}

.icon-celta-op {
    width: 50px;
    height: 45x;
    margin-right: 15px;
    position: relative;
    top: -2px;
}

.icon-celta-wrapup {
    width: 53px;
    height: 48px;
    margin-right: 10px;
}

.icon-celta-time {
    position: relative;
    bottom: 22px;
    left: 540px;
}

.icon-listenup {
    width: 40px;
    padding-bottom: 10px;
}

.icon-mouth {
    width: 40px;
}

.icon-eye {
    width: 40px;
}

/*FONT AND TEXT */

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

p {
    font-size: var(--p-size);
    font-size: var(--p-size);
}

.p {
    font-family: var(--font);
    font-size: var(--p-size);
}

.justify {
    text-align: justify;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.smaller {
    font-size: var(--font-size-smaller)
}

.phonetics {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    color: #00a2ff
}

/* CONTAINERS */

.container-whiteboard {
    border: var(--container-border);
    background-image: var(--container-background-image);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 3px;
}

.container-black-content {
    background: black;
    border-radius: 4px 4px 0 0;
    padding-left: 6px;
    box-shadow: 0 0 3px;
}

.container-black {
    background: black;
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: 0 0 3px;
}

.container-white-content {
    border-radius: 0 0 4px 4px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
}

.container-white {
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
}

.container-red-content {
    background: red;
    border-bottom: 0;
    color: black;
    padding-left: 5px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 3px;
}

.container-lightgrey {
    background: lightgrey;
    border-radius: 4px;
    padding-left: 5px;
    box-shadow: 0 0 3px;
}

.container-lightyellow {
    background: #ffee008f;
    color: black;
    padding-left: 5px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.container-green {
    background: rgba(0, 128, 0, 0.425);
    color: black;
    padding-left: 5px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.container-white {
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 3px;
}

.container-red {
    background: red;
    color: black;
    padding-left: 5px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.container-notes-redlight {
    background: rgba(255, 0, 0, 0.356);
    color: black;
    padding-left: 5px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.container-blue {
    background: rgb(64, 64, 255);
    color: white;
    padding-left: 5px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.container-intermediate-grammar {
    background: #0077C1;
    color: black;
    padding-left: 5px;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}


/* COLORS */

.color-white {
    color: white;
}

.color-lightgrey {
    color: gray;
}

.color-red {
    color: red;
}

.color-green {
    color: green
}

.color-lightblue {
    color: #00a2ff;
}

.color-blue {
    color: rgba(0, 0, 255, 0.678);
}

/* ALIGNNMENT EXERCISES */

.align-items-center-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 2px;
    margin-right: 12px;
    line-height: 1;
}

.align-items-center-2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2px;
    margin-right: 12px;
}

/* CONTAINERS + IMAGES */

.flex-columns-center {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.grid-2-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-repeat-auto-fit-general {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-around;
}

.img-1-100 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.img-1-100-border {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgba(211, 211, 211, 0.233);
    border-radius: 4px;
    box-shadow: 0 0 3px;
}


.img-1-100-border-left {
    display: block;
    margin-right: auto;
    border: 5px solid rgba(211, 211, 211, 0.233);
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

.img-1-80-50-border-left {
    display: block;
    margin-right: auto;
    border: 5px solid rgba(211, 211, 211, 0.233);
    border-radius: 4px;
    box-shadow: 0 0 3px;
    width: 80%;
}

/* COURSES */

.class-description {
    line-height: 1.2;
}

/* CLASSWORK-TIP-BUTTON */

#tips1 {
    display: none;
}

#tips2 {
    display: none;
}

/* BUTTON */

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 7px 10px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-3px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-5px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

/* ---------- */

.button-play-white {
    filter: invert();
}

/* ANIMATION */

.pulse-review {
    animation: pulse 3s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 600px) {

    .grid-2-columns {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-3-columns {
        display: grid;
        grid-template-columns: 1fr;
    }

    .flex-columns-center {
        display: flex;
        gap: 10px;
        align-items: center;
    }


    .img-1-80-50-border-left {
        width: 50%;
    }

    .icon-container-classes {
        display: flex;
        align-items: start;
        gap: 10px;
    }

    .img-2-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .video-iframe-mobile {
        width: 100%;
        height: 200px;
    }

}