

.unit-5-c-supernova-img {
    width: 50%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 3px;
}

/* UNIT 6 */

/* UNIT 7 */

/* UNIT 8 */

/* UNIT 9 */

.unit-9-a-grid {
    display: grid;
    grid-template-columns: 130px 80px 200px;
    width: 356px;
}

/* UNIT 10 */

.unit-10-a-grid {
    display: grid;
    grid-template-columns: 130px 80px 200px;
    width: 356px;
}



.unit-99-2-grid-3-columns {
    display: grid;
    grid-template-columns: 45% 5% 45%;
    justify-content: center;
}

.unit-99-2-grid-3-columns>p {
    text-align: center;
}


@media (max-width: 600px) {

    .unit-4-b-word-order {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 80px 50px 63px 200px;
        width: 356px;
    }

    .unit-4-b-smaller {
        font-size: 0.95rem;
    }

    .unit-5-c-supernova-img {
        width: 100%;
    }

    .unit-99-2-grid-3-columns {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

}