.grid-2-columns-listening {
    display: grid;
    grid-template-columns: 35px 91%;
    align-items: center;
}

.penguin-readers-container-cover {
    display: grid;
    grid-template-columns: 30% 67.2%;
    gap: 20px;
    margin-top: 20px;
}

.penguin-readers-container {
    display: grid;
    grid-template-columns: 67.2% 30%;
    gap: 20px;
    margin-top: 20px;
}

@media (max-width: 600px) {

    .grid-2-columns-listening {
        display: grid;
        grid-template-columns: 35px 91%;
        align-items: start;
    }

    .grid-2-columns-listening .checkbox1 {
        margin-top: 4px;
    }

    .penguin-readers-container-cover {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .penguin-readers-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .penguin-kids-container {
        grid-template-columns: 1fr;
    }
}