/* UNIT 1 */

.unit-1-a-affirmative-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 292px;
}

.unit-1-a-negative-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 421px;
}

/* UNIT 2 */

.unit-2-a-affirmative-question-flex {
    display: flex;
    width: 236px;
    gap: 20px;
}

.unit-2-c-short-answers-flex {
    display: flex;
    gap: 20px;
}

.unit-2-c-short-answers-seat {
    width: 35%;
}

/* UNIT 3 */

/* UNIT 4 */

/* UNIT 5 */

.unit-5-c-supernova-img {
    width: 50%;
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: 0 0 3px;
}

/* UNIT 6 */

/* UNIT 7 */

/* UNIT 8 */

/* UNIT 9 */

.unit-9-a-grid {
    display: grid;
    grid-template-columns: 130px 80px 200px;
    width: 356px;
}

/* UNIT 10 */

.unit-10-a-grid {
    display: grid;
    grid-template-columns: 130px 80px 200px;
    width: 356px;
}

/* UNIT 11 */

/* UNIT 12 */

/* UNIT 13 */

/* UNIT 14 */

/* UNIT 15 */

/* UNIT 16 */

/* UNIT 17 */

/* UNIT 18 */

/* UNIT 19 */

/* UNIT 20 */

/* UNIT 21 */

/* UNIT 22 */

/* UNIT 23 */

/* UNIT 24 */

/* UNIT 25 */

/* UNIT 26 */

/* UNIT 27 */

/* UNIT 28 */

/* UNIT 29 */

/* UNIT 30 */

/* UNIT 31 */

/* UNIT 32 */

/* UNIT 33 */

/* UNIT 34 */

/* UNIT 35 */

/* UNIT 36 */

/* UNIT 37 */

.container-imgs {
    width: 700px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.imgs {
    width: 33%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 3px;
}

.example {
    color: red;
}

.btn-exercise {
    font-family: var(--grammar-font);
    font-size: var(--paragraph-font-size);
    padding: 0 5px;
    border-radius: 3px;
}

/* UNIT 38 */

/* UNIT 39 */

/* UNIT 40 */

/* UNIT 41 */

/* UNIT 42 */

/* UNIT 43 */

/* UNIT 45 */

/* UNIT 46 */

/* UNIT 47 */

/* UNIT 48 */

/* UNIT 49 */

/* UNIT 50 */

/* UNIT 51 */

/* UNIT 52 */

/* UNIT 53 */

/* UNIT 54 */

/* UNIT 55 */

/* UNIT 56 */

/* UNIT 57 */

/* UNIT 58 */

/* UNIT 59 */

/* UNIT 60 */

/* UNIT 61 */

/* UNIT 62 */

/* UNIT 63 */

/* UNIT 64 */

/* UNIT 65 */

/* UNIT 66 */

/* UNIT 67 */

/* UNIT 68 */

/* UNIT 69 */

/* UNIT 70 */

/* UNIT 71 */

/* UNIT 72 */

/* UNIT 73 */

/* UNIT 74 */

/* UNIT 75 */

/* UNIT 76 */

/* UNIT 77 */

/* UNIT 78 */

/* UNIT 79 */

/* UNIT 80 */

/* UNIT 81 */

/* UNIT 82 */

/* UNIT 83 */

/* UNIT 84 */

/* UNIT 85 */

/* UNIT 86 */

/* UNIT 87 */

/* UNIT 88 */

/* UNIT 89 */

/* UNIT 90 */

/* UNIT 91 */

/* UNIT 92 */

/* UNIT 93 */

/* UNIT 94 */

/* UNIT 95 */

/* UNIT 96 */

/* UNIT 97 */

/* UNIT 98 */

/* UNIT 99 */

.unit-99-2-grid-3-columns {
    display: grid;
    grid-template-columns: 45% 5% 45%;
    justify-content: center;
}

.unit-99-2-grid-3-columns>p {
    text-align: center;
}

/* UNIT 100 */

/* UNIT 101 */

/* UNIT 102 */

/* UNIT 103 */

/* UNIT 104 */

/* UNIT 105 */

/* UNIT 106 */

/* UNIT 107 */

/* UNIT 108 */

/* UNIT 109 */

/* UNIT 110 */

/* UNIT 111 */

/* UNIT 112 */

/* UNIT 113 */

/* UNIT 114 */

@media (max-width: 600px) {

    .unit-1-a-negative-grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 357px;
    }

    .unit-1-a-negative-smaller-font-1 {
        font-size: 1.1rem;
    }

    .unit-1-a-negative-smaller-font-2 {
        font-size: 1.2rem;
    }

    .unit-1-a-negative-smaller-font-3 {
        font-size: 1.1rem;
    }

    .unit-1-a-negative-smaller-font-4 {
        font-size: 1rem;
    }

    .unit-2-c-short-answers-flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .unit-2-c-short-answers-seat {
        width: 80%;
    }

    .unit-99-2-grid-3-columns {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

}