.unit-1-a-affirmative-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 292px;
}

.unit-1-a-negative-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 421px;
}

/* .unit-1-exercise-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr
} */

@media (max-width: 600px) {

    .unit-1-a-negative-grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 357px;
    }

    .unit-1-a-negative-smaller-font-1 {
        font-size: 1.1rem;
    }

    .unit-1-a-negative-smaller-font-2 {
        font-size: 1.2rem;
    }

    .unit-1-a-negative-smaller-font-3 {
        font-size: 1.1rem;
    }

    .unit-1-a-negative-smaller-font-4 {
        font-size: 1rem;
    }
}